<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link th:href="@{/page.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Let's Login!</h1>
    <form th:action="@{/login}" method="post" th:object="${user}">
        <div class="form-row">
            <div class="label">Username</div>
            <div class="field">
                <input type="text" name="username" th:field="*{username}" placeholder="Enter Username" required>
            </div>
        </div>
        <div class="form-row">
            <div class="label">Password</div>
            <div class="field">
                <input type="password" name="password" th:field="*{password}" placeholder="Enter your password" required>
            </div>
        </div>
        <div th:if="${error}" class="form-row">
            <p th:text="${error}" style="color:red;"></p>
        </div>
        <div class="form-row btn-box">
            <button type="submit">Log in</button>
        </div>
    </form>
    <div>If you don't have an account, click <a th:href="@{/register}">here</a> to create one.</div>
</div>
</body>
</html>
